<!--
* Модуль Yeelight 
* @author Alex Sokolov <admin@gelezako.com>
* @copyright Alex Sokolov http://blog.gelezako.com (c)
* @version 0.1 (wizard, 10:02:10 [Feb 06, 2017])
-->

<script src="https://use.fontawesome.com/7a155330f4.js"></script>

<h3><#LANG_YE_APP_NAME#></h3><br>

<!-- начало кнопка about-->
<div class="float-right">
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about"><#LANG_YE_APP_ABOUT#>&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
</div>
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><#LANG_YE_APP_CLOSE#></span></button>
				<h4 class="modal-title"><#LANG_YE_APP_NAME#></h4>
			</div>
			<div class="modal-body">
				<div class="float-right">
					<img src="../templates/Yeelight/img/YeelightLogo.jpg"  width="58">
					<br><br><p><b>v.0.1</b></p>
				</div>
                <p class="float-left">
					<#LANG_YE_APP_MODULE#> "<#LANG_YE_APP_NAME#>"<br><br>
					<a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=4&t=4193" target="_blank"><#LANG_YE_APP_DISCUS#></a>.<br>
					<#LANG_YE_APP_PROJ#> <a href="https://github.com/Gelezako/MajorDomo-Yeelight" target="_blank"><i class="fa fa-github" aria-hidden="true"> Github</i></a>.<br>
					<#LANG_YE_APP_PROJ#> <a href="https://connect.smartliving.ru/tasks/64.html" target="_blank">Connect</a>.<br>
				</p>
				<hr size="1">
				<p class="float-left">
				<#LANG_YE_APP_DONATE#>
				<ul>
				    <li>
					<li>QIWI: +380972054741</li>
					<#LANG_YE_APP_DONATE2#> <a href="https://www.liqpay.ua/ru/checkout/card/1521736656811246_188079827_V2P83jWCAq1AIYvXCjyQ" target="_blank"><i class="fa fa-credit-card-alt" aria-hidden="true"> Liqpay</i></a></li>
					<li><#LANG_YE_APP_DONATE2#> <a href="https://www.patreon.com/user?u=8755313" target="_blank">Patreon</a></li>
					<li><#LANG_YE_APP_DONATE3#> <a href="https://connect.smartliving.ru/tasks/64.html" target="_blank">Connect</a></li>
					<li>WMZ: Z361986620412</li>
					<li>WMR: R202811747775</li>
					<li>WMU: U201862406146</li>
					<li>WME: E313349347372</li>
				</ul>
                </p>
				<h6><#LANG_YE_APP_THANKS#>: <b><a href="https://telegram.me/agafonov_d" target="_blank">skysilver</a> (Yandex money: <a href="https://money.yandex.ru/to/410011205062626" target="_blank">410011205062626</a>)</b>, <b>erandess</b>.</h6>
			</div>
			<div class="modal-footer">
				<div class="pull-left"><#LANG_YE_APP_Author#>: <a href="https://telegram.me/gelezako" target="_blank"><i class="fa fa-telegram" aria-hidden="true"> Gelezako</i></a></div>
				<button type="button" class="btn btn-default" data-dismiss="modal"><#LANG_YE_APP_CLOSE#></button>
			</div>
		</div>
	</div>
</div>

<!-- конец кнопка about-->

<div>
	<img src="../templates/Yeelight/img/YeelightLogo.jpg"  width="120" height="120">
	&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;
</div>

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
[#if OK#]
<div class="alert alert-success"><#LANG_DATA_SAVED#></div>
[#endif OK#]
[#if ERR#]
<div class="alert alert-error"><#LANG_FILLOUT_REQURED#></div>
[#endif ERR#]

[#if RESULT==""#]
	<h4><#LANG_YE_APP_NOTFOUND#></h4><br><br><br>
        <center><img src="../templates/Yeelight/img/NoResults.svg" alt="<#LANG_YE_APP_NOTFOUND#>"></center>
	[#else#]
	<fieldset>
	<div class="form-group">
	<table class="table table-stripped">
	 <tr>
	  <td><#LANG_DEVICE#></td>
	  <td>IP</td>
	 </tr>

	[#begin RESULT#]
	 <tr>
	   <td valign="top">
	   <img src="../templates/Yeelight/img/small/[#MODEL#].png" height="40px">
	   [#MODEL#]
	   </td>
	   <td>
		[#if IP!=""#]
			[#IP#]
			&nbsp;
			[#else#]<#LANG_YE_APP_IPNOTFOUND#>[#endif#]
		[#endif#]
	   </td>
	 </tr>
	[#end RESULT#]

	</table> 
	</div>	
	</fieldset>


	<div class="panel panel-info">   
	   <div class="panel-heading"><#LANG_YE_APP_USED#></div>
	   <div class="panel-body">
	      <code style="display:block">
		  [#begin RESULT#]
			<#LANG_DEVICES_TURN_ON#>:  sg("[#TITLE#].status","1");<br>
			<#LANG_DEVICES_TURN_OFF#>: sg("[#TITLE#].status","0");<br>
			<#LANG_YE_APP_BRIG#> 75%:   sg("[#TITLE#].bright","75");
			[#if MODEL!="mono"#]
			<br><#LANG_YE_APP_HELP_TEXT#>:<br>
			<#LANG_DEVICES_SET_COLOR#> sg("[#TITLE#].rgb","ff000e");
			[#endif#]
			<br><br><br>
		  [#end RESULT#]
	      </code>
	   </div>
	 </div>
	[#endif#]
[#endif#]
 
</form>
